.navbg {
    background-color: rgb(60, 99, 141);
    padding: 8px;
}

.navUrl {
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.mainNav {
    display: flex;
    justify-content: space-around;
}